--
---

h1, h2, h3 {
  color: #fbbf24;
}

a {
  color: #22d3ee;
}

#sidebar {
  background: linear-gradient(
    180deg,
    #0f172a,
    #1e293b
  );
}

#avatar {
  border-radius: 50%;
  border: 3px solid #fbbf24;
}
